.homeSection {
    background-color: #fff;
    width: 100%;
    height: calc(90vh - 80px);
    padding: 32px 0;
    display: flex;
    justify-content: center;
}

.homeContainer {
    width: 1024px;
    max-width: 90%;
    height: 100%;
    display: flex;
    gap: 64px;
}

.homeBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #5f6368;
    position: relative;
}

.homeBoxLogo {
    width: 300px;
    max-width: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    user-select: none;
}

.homeBoxTitle {
    width: 100%;
    font-size: 80px;
}

.homeBoxSubtitle {
    width: 100%;
    font-size: 16px;
}

.homeBoxButton {
    background-color: #1a73e8;
    border: none;
    border-radius: 6px;
    padding: 12px 64px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    margin-top: 64px;
    max-width: 95%;
}

.homeLearnMore {
    text-align: center;
    font-size: 10px;
    color: rgba(95, 99, 104, 0.7);
    margin: 32px 0 64px;
}

.homeListSection {
    background-color: #fff;
    width: 1000px;
    max-width: 90%;
}

.headerTitle {
    color: #1a73e8;
    text-align: center;
    margin: 32px 0 64px;
}
.tableHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeTipContainer {
    background-color: #fff;
    border: 1px solid #dadce0;
    text-align: center;
    font-size: 14px;
    color: #5f6368;
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 64px;
}

.tableContainerTitles {
    background-color: #fff !important;
}
.homeTableContainer {
    margin: 16px 0 32px;
    padding: 36px 16px 22px;
}

.tableContainer {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    padding: 0 16px;
    border-radius: 6px;
}
.tableContainer:hover {
    background-color: rgba(26, 115, 232, 0.08);
}

.tableTitles {
    text-align: left;
    font-weight: 500;
    margin-bottom: 24px;
}
.tableDataContainer {
    display: flex;
    flex-direction: column-reverse;
}

.tableData {
    text-align: left;
    line-height: 42px;
}
.tableRowName {
    width: 132px;
}
.tableRowBirthdate {
    width: 92px;
}
.tableRowGender {
    width: 48px;
}
.tableRowPhone {
    width: 84px;
}
.tableRowTitle {
    width: 142px;
}
.tableRowActions {
    width: 64px;
    text-align: center;
}

@media screen and (max-width: 680px) {
    .homeSection {
        height: calc(100vh - 80px);
    }
    .homeContainer {
        flex-direction: column-reverse;
    }
    .homeBox {
        align-items: center;
    }
    .homeBoxLogo {
        width: auto;
        height: 80%;
        right: 50%;
        transform: translate(50%, -50%);
    }
    .homeBoxTitle {
        font-size: 36px;
        text-align: center;
    }
    .homeBoxSubtitle {
        font-size: 16px;
        text-align: center;
    }
    .tableHeaderContainer {
        flex-direction: column-reverse;
        gap: 32px;
    }
    .homeTableContainer {
        overflow: scroll;
        padding: 22px 0;
    }
    .tableContainer {
        justify-content: flex-start;
        gap: 16px;
    }
    .tableRowName {
        flex-shrink: 0;
    }
    .tableRowBirthdate {
        flex-shrink: 0;
    }
    .tableRowGender {
        flex-shrink: 0;
    }
    .tableRowPhone {
        flex-shrink: 0;
    }
    .tableRowTitle {
        flex-shrink: 0;
    }
    .tableRowActions {
        flex-shrink: 0;
        position: sticky;
        top: 0;
        right: 12px;
        background-color: #fff;
        box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    }
}