.homeSection {
    background-color: #fff;
    width: 100%;
    padding: 32px 0 0;
    display: flex;
    justify-content: center;
}

.homeContainer {
    width: 1024px;
    max-width: 90%;
    height: 100%;
    display: flex;
    gap: 64px;
}

.homeBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #5f6368;
    position: relative;
}

.homeBoxLogo {
    width: 300px;
    max-width: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-user-select: none;
    user-select: none;
}

.homeBoxTitle {
    width: 100%;
    font-size: 80px;
}

.homeBoxSubtitle {
    width: 100%;
    font-size: 16px;
}

.homeBoxButton {
    background-color: #1a73e8;
    border: none;
    border-radius: 6px;
    padding: 12px 64px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    margin-top: 64px;
    max-width: 95%;
}

.homeLearnMore {
    text-align: center;
    font-size: 10px;
    color: rgba(95, 99, 104, 0.7);
    margin: 32px 0 64px;
}

.homeListSection {
    background-color: #fff;
    width: 1000px;
    max-width: 90%;
}

.headerTitle {
    color: #1a73e8;
    text-align: center;
    margin: 32px 0 64px;
}

.tableHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.tableAddNewBackground {
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    transition: opacity 0.151s;
}

.tableAddNewContainer {
    background-color: #fff;
    width: 400px;
    max-width: 90%;
    border-radius: 6px;
    z-index: 4;
    transform: scale(0);
    transition: transform 0.15s;
}

.tableAddNewHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    color: #1a73e8;
    font-weight: 500;
    border-bottom: 1px solid #dadce0;
}

.tableAddNewClose {
    color: #5f6368;
    font-weight: bold;
    font-size: 16px;
    border: none;
    line-height: 18px;
    padding: 0 5px;
    -webkit-user-select: none;
    user-select: none;
}

.tableAddNewClose:hover {
    color: #fff;
    background-color: #e81123;
    border-radius: 3px;
    cursor: pointer;
}

.tableAddNewForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.tableAddNewFormFullNameContainer {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.tableAddNewFormSubmitContainer {
    display: flex;
    justify-content: flex-end;
}

.tableAddNewFormNameContainer {
    width: 100%;
}

.tableAddNewFormLabel {
    font-size: 12px;
    color: #5f6368;
}

.tableAddNewFormInput {
    width: 100%;
    height: 38px;
    border-radius: 6px;
    border: #dadce0 1px solid;
    outline: none;
    padding: 8px;
}

.homeTipContainer {
    background-color: #fff;
    border: 1px solid #dadce0;
    text-align: center;
    font-size: 14px;
    color: #5f6368;
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 64px;
}

.tableContainerTitles {
    background-color: #fff !important;
}

.homeTableSection {
    position: relative;
}

.homeTableContainer {
    margin: 16px 0 32px;
    padding: 36px 16px 22px;
}

.tableDataContainer {
    display: flex;
    flex-direction: column-reverse;
}

.tableContainer {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    padding: 0 16px;
    border-radius: 6px;
}

.tableContainer:nth-child(odd) {
    background-color: #f8f9fb;
}

.tableContainer:hover {
    background-color: rgba(26, 115, 232, 0.08);
}

.tableTitles {
    text-align: left;
    font-weight: 500;
    margin-bottom: 24px;
}

.tableRowActionsMobileBackground {
    display: none;
}

.tableData {
    text-align: left;
    line-height: 42px;
}

.tableRowName {
    width: 132px;
}

.tableRowBirthdate {
    width: 92px;
}

.tableRowGender {
    width: 48px;
}

.tableRowPhone {
    width: 84px;
}

.tableRowTitle {
    width: 142px;
}

.tableRowActions {
    width: 64px;
    text-align: right;
}

.tableRowActionsIcon {
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.toastContainer {
    display: none;
    width: 300px;
    background-color: #04844b;
    padding: 12px 22px;
    border-radius: 6px;
    position: fixed;
    bottom: 32px;
    left: -332px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    transition: all 0.3s;
    z-index: 2;
}

.toastIcon {
    width: 16px;
    height: 16px;
    position: absolute;
}

.toastMessage {
    color: #fff;
    font-size: 14px;
    padding-left: 26px;
    margin-top: -2px;
}

@media screen and (max-width: 767px) {
    .homeContainer {
        flex-direction: column-reverse;
    }
    .homeBox {
        align-items: center;
    }
    .homeBoxLogo {
        width: auto;
        height: 80%;
        right: 50%;
        transform: translate(50%, -50%);
    }
    .homeBoxTitle {
        font-size: 36px;
        text-align: center;
    }
    .homeBoxSubtitle {
        font-size: 16px;
        text-align: center;
    }
    .tableHeaderContainer {
        flex-direction: column-reverse;
        gap: 32px;
    }
    .homeTableContainer {
        overflow-x: scroll;
        padding: 22px 0;
    }
    .tableContainer {
        justify-content: flex-start;
        gap: 16px;
    }
    .tableRowName {
        flex-shrink: 0;
    }
    .tableRowBirthdate {
        flex-shrink: 0;
    }
    .tableRowGender {
        flex-shrink: 0;
    }
    .tableRowPhone {
        flex-shrink: 0;
    }
    .tableRowTitle {
        flex-shrink: 0;
    }
    .tableRowActions {
        flex-shrink: 0;
        position: sticky;
        top: 0;
        right: 12px;
        z-index: 2;
    }
    .tableRowActionsMobileBackground {
        display: block;
        position: absolute;
        top: 1px;
        right: 1px;
        width: 72px;
        height: calc(100% - 2px);
        background-color: #fff;
        box-shadow: -4px 0 5px 0 rgb(64 60 67 / 16%);
        border-radius: 0 6px 6px 0;
        z-index: 1;
    }
    .toastContainer {
        width: calc(100vw - 5%);
        bottom: auto;
        top: calc(80px + 2.5%);
    }
}