* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #fbfbfb;
  -webkit-tap-highlight-color: transparent;
}
.app_section {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  position: relative;
}
.app_form_message_container {
  text-align: center;
  width: 420px;
  max-width: 90%;
  font-size: 14px;
  display: none;
}
.app_form_container {
  background-color: #fbfbfb;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  width: 420px;
  max-width: 90%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.app_form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.app_form_title {
  color: #1a73e8;
  font-size: 26px;
}
.app_form_input_container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.app_form_input_label {
  background-color: #fff;
  padding: 0 6px;
  position: absolute;
  top: 11px;
  left: 10px;
  color: #5f6368;
  font-size: 13px;
  pointer-events: none;
  transition: all 0.1s;
}
.app_form_input {
  width: 100%;
  height: 38px;
  border-radius: 6px;
  border: #dadce0 1px solid;
  outline: none;
  padding: 16px;
}
.app_form_input_msg_container {
  display: none;
  position: relative;
}
.app_form_input_msg_icon {
  fill: #d93025;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
}
.app_form_input_msg {
  color: #d93025;
  font-size: 12px;
  margin: 1px 0 0 18px;
}
.app_form_submit_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app_form_switch_form {
  font-size: 14px;
  color: #5f6368;
  margin-left: 4px;
}
.app_form_switch_form a {
  color: #1a73e8;
  text-decoration: none;
}
.app_form_submit {
  font-size: 14px;
  background-color: #1a73e8;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}
.app_form_submit:hover {
  background-color: rgb(44, 125, 231);
}
.navSection {
  background-color: #fff;
  width: 100%;
  height: 80px;
  padding: 0 64px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  position: sticky;
  display: flex;
  align-items: center;
  z-index: 3;
}
.navContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.navLinkContainer {
  user-select: none;
  display: flex;
  gap: 18px;
}
.navLink {
  font-size: 14px;
  padding: 10px 22px;
  text-decoration: none;
  color: #5f6368;
  border-radius: 6px;
}
.navLink:hover {
  background-color: rgba(94, 99, 104, 0.08);
}
.navLinkButton {
  background-color: #1a73e8;
  border: none;
  color: #fbfbfb;
}
.navLinkButton:hover {
  background-color: rgb(44, 125, 231);
  cursor: pointer;
}
.navMobileMenuIcon {
  cursor: pointer;
  display: none;
}
.navMobileLinkContainer {
  display: none;
}
@media screen and (max-width: 680px) {
  .app_form_title {
    text-align: center;
  }
  .app_form_submit_container {
    flex-direction: column-reverse;
    gap: 12px;
  }
  .app_form_submit {
    width: 100%;
    text-align: center;
  }
  .navSection {
    padding: 0 5%;
  }
  .navMobileMenuIcon {
    display: block;
  }
  .navLinkContainer {
    display: none;
  }
  .navLink {
    width: 100%;
  }
  .navMobileLinkContainer {
    user-select: none;
    display: flex;
    gap: 18px;
    position: fixed;
    top: -100%;
    left: 0;
    background-color: #fff;
    width: 100%;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    padding: 2.5% 5%;
    transition: all 0.3s;
    z-index: 2;
  }
  .navMobileLinkBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    z-index: 1;
  }
}
